.row(ng-init="init(#{JSON.stringify(data)})")
	.col-md-12
		// chat(chatusername="233453",
			width="250",
			height="300",
			inputheight="24",
			headerheight="25",
			viewheight="251")
		chatusers(
			width="240",
			height="500",
			header="true",
			headerheight="25",
			listheight="451"
			search="true",
			searchheight="24")
		#fat-chat-container